<a href="https://colab.research.google.com/github/Doyoung88/SkillTreePython/blob/main/1_2_%EB%B3%80%EC%88%98_%EC%84%A0%EC%96%B8%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-2.변수 선언하기
---
* 날짜:2022-12-26
* 이름:윤도영

## 개념정리
---


변수란 값이 들어가는 상자라고 생각할 수 있습니다. 이 변수를 지정하는 것을 바인딩(binding)이라고 합니다. 
파이썬에는 여러가지 자료형이 있습니다. 앞으로 더 다양한 자료형을 배우겠지만 이번 시간에는 가장 기본적인 수치자료형과 문자열 자료형을 이용해서 변수에 대한 기본개념을 배워보도록 합니다.

### **(1) 변수의 생성**

파이썬에서 변수를 생성하는 것은 굉장히 쉽습니다. 아래 코드를 따라 작성 해봅시다. 이 코드를 작성함으로서 우리는 앞으로 `a`라는 이름을 가진 변수를 숫자 `2`인 것처럼 사용할 수 있습니다. 

```
a=2
```

In [2]:
a=2

위에서 정의한 `a`를 한번 확인해 봅시다. 

```
a
```

숫자가 아닌 문자도 바인딩 할 수 있습니다. 이 코드는 `b`라는 이름을 가진 변수를 문자 `"apple"` 인 것처럼 사용할수 있게 합니다. 

```
b="apple"
b
```

In [13]:
b = "apple" #문자열
c = 'apple' #문자열
b

'apple'

#### **재바인딩**

이미 바인딩 된 변수를 다시 바인딩 할 수 있습니다.  이 때 기존 값은 사라지고 새로운 값으로 대체됩니다. 

```
a = 3
a
```

In [10]:
a = 1
a = 2
a = 3
a

3

#### **정의되지 않은 변수**

만약 바인딩 한적이 없는 값을 실행하면 에러가 뜹니다.

```
c
```

In [15]:
bc

NameError: ignored

### **(2) 자료형 확인**
---
데이터의 자료형을 확인하는 것은 프로그래밍에 있어서 아주 중요합니다. 내가 변수로 지정한 값들이 어떤 자료형인지 잘 알고 있어야 각 자료형에 맞는 코드를 작성할 수 있습니다. 파이썬의 자료형에는 **리스트, 문자열 튜플, 딕셔너리, 집합, 수치, 불** 등이 있습니다. 간단하게 수치자료형과 문자열자료형으로 데이터 자료형을 확인해보고 나머지 자료형에 대해서는 추후 더 자세히 알아보도록 합니다.

* `type()` : 데이터의 자료형을 `type()` 함수를 이용하여 확인합니다. 

우리가 위에서 정의한 `a`의 자료형을 알아봅시다. 

```
type(a)
```

In [18]:
#파이썬의 내장함수
type(a) #인풋의 자료형을 확인한다

str

실행 결과 `int` 라는 값이 나오는 것을 확인할 수 있습니다. `int`는 숫자 자료형 중 정수 자료형을 뜻합니다.    

이번엔 `b`의 자료형을 알아봅시다.

```
type(b)
```

In [19]:
type(b)

str

실행 결과 `str` 라는 값이 나오는 것을 확인할 수 있습니다. `str`는 문자열 자료형을 뜻합니다.  

아래와 같이 숫자로 이루어진 값이라도 따음표를 사용해 작성하면 문자열 자료형으로 저장됩니다. 

```
c = "123"
c, type(c)
```

In [22]:
c = "123"
c,type(c)

('123', str)

## 문제풀이
---

**예제 01**

아래 변수에 바인딩된 값의 타입을 판별해보세요.

```
a = 132
```

In [23]:
type(a)

int

**예제 02**

아래 변수에 바인딩된 값의 타입을 판별해보세요.


```
a = "132"
```

In [24]:
type(a)

int

**예제 03**

아래 코드에서 `c`의 최종 값을 예측하고 실행해 보세요

```
a = 1
b = 2
c = a+b
```

In [25]:
a=1
b=2
c=a+b
c

3

**예제 04**

아래 코드에서 `a`의 최종 값을 예측하고 실행해 보세요

```
a = 1
a = a+1
```

In [26]:
#2가 나올 것 같다.
a=1
a=a+1
a

2

**예제 05**

아래 코드에서 `b`의 최종 값을 예측하고 실행해 보세요

```
a = 1
b = a+2
b = a+2
```

In [27]:
#3이 나올 것 같다.
a=1
b=a+2
b=a+2
b

3

**예제 06**

아래 코드에서 `a`의 최종 값을 예측하고 `+=`가 뜻하는 것이 무엇인지 생각해 보세요

```
a = 1
a += 2
```

In [28]:
#3이 나올 것 같다.
a=1
a+=2
a
#오른쪽의 수와 왼쪽의 변수에 저장된 수를 합하여 다시 왼쪽의 변수에 저장한다.

3

**예제 07**

아래 코드에서 `b`의 최종 값을 예측하고 실행해 보세요

```
a = 1
b = a-2
b = a-2
```

In [29]:
#-1이 나올 것 같다.
a=1
b=a-2
b=a-2
b

-1

**예제 08**

아래 코드에서 `a`의 최종 값을 예측하고 `-=`가 뜻하는 것이 무엇인지 생각해 보세요

```
a = 1
a -= 2
```

In [30]:
#-1이 나올 것 같다.
a=1
a-=2
a
#오른쪽의 수와 왼쪽의 변수에 저장된 수에서 왼쪽의 수를 뺀다음 다시 왼쪽의 변수에 저장한다.

-1

**예제 09**

아래 코드를 실행해보고 에러가 뜨는 이유를 설명하세요

```
a = '12345'
a = a+1000
```

In [31]:
a = '12345'
a = a+1000
#연산되는 두개의 자료형이 다르기 때문인 것 같다.(하나는 문자열, 다른 하나는 정수형)

TypeError: ignored

**예제 10**


아래 코드를 실행해보고 에러가 뜨는 이유를 설명하세요
```
g = 1
h = 2
g+h+i
```

In [32]:
g = 1
h = 2
g+h+i
#변수 i가 바인딩 되지 않았기 때문인 것 같다.

NameError: ignored